<script type="text/javascript">
  function show_hide(id){
    if($("#game_"+id).is(':visible')){
      $("#game_"+id).hide();
    } else {
      $("#game_"+id).show();
    }
  }
</script>
<div class="title">
  <div class="f_left">
    <%= image_tag "/images/#{@league.logo}", :height => "80px", :alt => "#{@league.name}" %>
  </div>
  <div class="name_new">
    <%= @league.name.upcase %>
  </div>
  <div class="tour_new">
    <%= @tour %> tour
  </div>
</div> 
<br />
<% @matches.each do |matche|%>
  <% @team1 = FootballClub.find_by_id matche.home_team %>
  <% @team2 = FootballClub.find_by_id matche.quest_team %>
  <div class="matche_det_new" style="height: auto;">
    <div class="matche_det_name">
      <div class="f_left">
        <%= image_tag "/images/#{@team1.logo}", :height => "50" %>
      </div>
      <div class="f_left teams_container">
        <div class="team_name"><%= @team1.name %></div>
        <% @prediction = Prediction.first(:conditions => {:game_id => matche.id}) %>
        <% unless @prediction.nil? %>        
          <div class="graphic_predictions">
            <div class="win_home">
              <%= @prediction.win_home %>%
            </div>
            <div class="draw">
              <%= @prediction.draw_result %>%
            </div>
            <div class="win_quest">
              <%= @prediction.win_quest %>%
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
        <div class="team_name"><%= @team2.name %></div>
      </div>
      <div class="f_left">
        <%= image_tag "/images/#{@team2.logo}", :height => "50" %>
      </div>
    </div>
    <div class="clear"></div>
    <div class="matche_sub_info">
      Suggested score: <span class="stat_info_item_r1"><%= @prediction.goals_home %>:<%= @prediction.goals_quest %></span><br />
      <% if @prediction.is_recommended %>
        <span class="stat_info_item_r2">We recommended this bet!</span><br />
      <% end %>
      <span><a onClick="show_hide('<%= matche.id %>')">Compare result</a></span>
    </div>
    <div id="game_<%= matche.id %>" class="stat_info_new">
      <div class="stat_info_item_main">
        <% @prediction = Prediction.first(:conditions => {:game_id => matche.id}) %>
        <div class="stat_info_item">
          <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @will_hill.id}) %>
          <% unless @prediction.nil? %>
            <b class="black">WillHill</b><br />
            Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
            Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
            Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
          <% end %>
        </div>
        <div class="stat_info_item">
          <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @bet_365.id}) %>
          <% unless @prediction.nil? %>
            <b class="black">Bet365</b><br />
            Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
            Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
            Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
          <% end%>
        </div>
        <div class="stat_info_item">
          <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @unibet.id}) %>
          <% unless @prediction.nil? %>
            <b class="black">Unibet</b><br />
            Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
            Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
            Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
          <% end %>  
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
<% end %>