<div id="statistic">
  <h1><%= @league.name %></h1>
    <h2>Previous <%= @tour3 %> tour</h2>
  <% @matches3.each do |matche|%>
    <% @team1 = FootballClub.find_by_id matche.home_team %>
    <% @team2 = FootballClub.find_by_id matche.quest_team %>
    <h3><b class="black"><%= @team1.name %> - <%= @team2.name %> <%= matche.home_goals %> : <%= matche.quest_goals %></b></h3>
    <div id="stat_info">
      <div class="stat_info_item">
      <% @prediction = Prediction.first(:conditions => {:game_id => matche.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Our forecast for the game:</b><br />
          <% full = @prediction.win_home.to_f + @prediction.win_quest.to_f %>
          <% r1 = (@prediction.win_home.to_f * 100)/full %>
          <% r1 = (r1/10).round %>
          <% r1 = r1*10 %>
          Win Team 1: <span class="stat_info_item_r1"><%= r1 %>%</span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.draw_result %>%</span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= (100-r1).round %>%</span><br />
          Possible game result: <span class="stat_info_item_r1"><%= @prediction.goals_home %>:<%= @prediction.goals_quest %></span><br />
          <% if @prediction.is_recommended %>
            <span class="stat_info_item_r2">We recommended this match for bet!</span>
          <% end %>
        <% end %>
      </div>
      <div class="stat_info_item">
      <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @will_hill.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">WillHill</b><br />
            Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
            Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
            Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end %>
      </div>
      <div class="stat_info_item">
        <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @bet_365.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Bet365</b><br />
          Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end%>
      </div>
      <div class="stat_info_item">
        <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @unibet.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Unibet</b><br />
          Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end %>  
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  <br />
  <br />
  <h2>Previous <%= @tour2 %> tour</h2>
  <% @matches2.each do |matche|%>
    <% @team1 = FootballClub.find_by_id matche.home_team %>
    <% @team2 = FootballClub.find_by_id matche.quest_team %>
    <h3><b class="black"><%= @team1.name %> - <%= @team2.name %> <%= matche.home_goals %> : <%= matche.quest_goals %></b></h3>
    <div id="stat_info">
      <div class="stat_info_item">
      <% @prediction = Prediction.first(:conditions => {:game_id => matche.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Our forecast for the game:</b><br />
          <% full = @prediction.win_home.to_f + @prediction.win_quest.to_f %>
          <% r1 = (@prediction.win_home.to_f * 100)/full %>
          <% r1 = (r1/10).round %>
          <% r1 = r1*10 %>
          Win Team 1: <span class="stat_info_item_r1"><%= r1 %>%</span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.draw_result %>%</span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= (100-r1).round %>%</span><br />
          Possible game result: <span class="stat_info_item_r1"><%= @prediction.goals_home %>:<%= @prediction.goals_quest %></span><br />
          <% if @prediction.is_recommended %>
            <span class="stat_info_item_r2">We recommended this match for bet!</span>
          <% end %>
        <% end %>
      </div>
      <div class="stat_info_item">
      <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @will_hill.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">WillHill</b><br />
            Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
            Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
            Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end %>
      </div>
      <div class="stat_info_item">
        <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @bet_365.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Bet365</b><br />
          Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end%>
      </div>
      <div class="stat_info_item">
        <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @unibet.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Unibet</b><br />
          Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end %>  
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  <br />
  <br />
  <h2>Previous <%= @tour %> tour</h2>
  <% @matches.each do |matche|%>
    <% @team1 = FootballClub.find_by_id matche.home_team %>
    <% @team2 = FootballClub.find_by_id matche.quest_team %>
    <h3><b class="black"><%= @team1.name %> - <%= @team2.name %> <%= matche.home_goals %> : <%= matche.quest_goals %></b></h3>
    <div id="stat_info">
      <div class="stat_info_item">
      <% @prediction = Prediction.first(:conditions => {:game_id => matche.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Our forecast for the game:</b><br />
          <% full = @prediction.win_home.to_f + @prediction.win_quest.to_f %>
          <% r1 = (@prediction.win_home.to_f * 100)/full %>
          <% r1 = (r1/10).round %>
          <% r1 = r1*10 %>
          Win Team 1: <span class="stat_info_item_r1"><%= r1 %>%</span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.draw_result %>%</span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= (100-r1).round %>%</span><br />
          Possible game result: <span class="stat_info_item_r1"><%= @prediction.goals_home %>:<%= @prediction.goals_quest %></span><br />
          <% if @prediction.is_recommended %>
            <span class="stat_info_item_r2">We recommended this match for bet!</span>
          <% end %>
        <% end %>
      </div>
      <div class="stat_info_item">
      <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @will_hill.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">WillHill</b><br />
            Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
            Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
            Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end %>
      </div>
      <div class="stat_info_item">
        <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @bet_365.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Bet365</b><br />
          Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end%>
      </div>
      <div class="stat_info_item">
        <% @prediction = BettingPrediction.first(:conditions => {:game_id => matche.id, :bookmaker_id => @unibet.id}) %>
        <% unless @prediction.nil? %>
          <b class="black">Unibet</b><br />
          Win Team 1: <span class="stat_info_item_r1"><%= @prediction.r_1 %></span><br />
          Draw: <span class="stat_info_item_rx"><%= @prediction.r_x %></span><br />
          Win Team 2: <span class="stat_info_item_r2"><%= @prediction.r_2 %></span><br />
        <% end %>  
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
</div>