<div class="football_clubs">
  <div>
    <div class="title">
      <div class="f_left">
        <%= image_tag "/images/#{@league.logo}", :height => "120px", :alt => "#{@league.name}" %>
      </div>
      <div class="name">
        <%= @league.name.upcase %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <% @clubs.each do |club| %>
    <div class="club">
      <a href=<%= "/football_clubs/#{club.id}" %>>
        <div class="f_left">
          <%= image_tag "/images/#{club.logo}", :height => "70" %>
        </div>
        <div class="club_name">
          <%= "#{club.name} #{club.location}" %>
        </div>
      </a>
    </div>
  <% end %>
</div>