<!DOCTYPE html>
<html>
<head>
  <title>BetAssistant</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%if request.path == "" %>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#slider').s3Slider({
          timeOut: 3000
        });
      });
    </script>
  <% end %>
  <center>
  <div id="main">
    <div id="header">
      <div id="logo_block">
        <a href="/">
          <img src="/images/logo.png" alt="bet assistant Alpha">
          <span class="logo_demo">alpha</span>
        </a>
        <div id="login_block">
          <% if user_signed_in? %>
            Signed in as <b><%= link_to "#{current_user.email}", "/news", :class => "login" %></b>.
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "login" %>
          <% else %>
            <!-- <%= link_to "Sign up", new_user_registration_path, :class => "register" %> | <%= link_to "Sign in", new_user_session_path, :class => "login" %> -->
          <% end %>
        </div>
      </div>
      <%if request.path == "" %>
        <div id="slider">
          <ul id="sliderContent">
            <li class="sliderImage">
                  <a href=""><img src="/images/home/ger3.jpg" alt="1" /></a>
                  <span class="top"><strong>Bundes League</strong></span>
              </li>
              <li class="sliderImage">
                  <a href=""><img src="/images/home/eng2.jpg" alt="2" /></a>
                  <span class="top"><strong>Premier League</strong></span>
              </li>
              <li class="sliderImage">
                  <img src="/images/home/spa1.jpg" alt="4" />
                  <span class="bottom"><strong>Primera</strong></span>
              </li>
              <li class="sliderImage">
                  <img src="/images/home/ita5.jpg" alt="5" />
                  <span class="top"><strong>Serie A</strong></span>
              </li>
              <li class="sliderImage">
                  <img src="/images/home/fra5.jpg" alt="3" />
                  <span class="bottom"><strong>League 1</strong></span>
              </li>
              <li class="sliderImage">
                  <img src="/images/home/ned4.jpg" alt="5" />
                  <span class="top"><strong>Eredivisie</strong></span>
              </li>
              <div class="clear sliderImage"></div>
          </ul>
        </div>
        <!-- // slider -->
      <% end %>
      <center>
      <div id="frontend_menu">
        <div class="item">
          <a href="/last_news">News</a>
        </div>
        <div class="item">
          <%= link_to "Leagues", leagues_path %>
        </div>
        <div class="item">
          <%= link_to "Football Clubs", football_clubs_path %>
        </div>
        <div class="item">
          <%= link_to "Matches", football_matches_path %>
        </div>
        <div class="item">
          <%= link_to "Bookmakers", bookmakers_path %>
        </div>
        <div class="item">
          <%= link_to "Statistics", statistics_path %>
        </div>
        <div class="item">
          <a href="/about">About</a>
        </div>
        <div class="item">
          <%= link_to "Setup", new_user_session_path %>          
        </div>
      </div>
      </center>

    </div>
    <div id="backend_content">
      <div id="backend_wrapper">
      
        <%= yield %>
        
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div id="footer_menu">
        <a href="/last_news">News</a> | <a href="/leagues">Leagues</a> | <a href="/football_clubs">Football Clubs</a> | <a href="/football_matches">Matches</a> | <a href="/bookmakers">Bookmakers</a> | <a href="/statistics">Statistics</a>  | <a href="/about">About</a>
      </div>
      <div class="copyright">
        &copy; 2011 <b>bet</b> assistant
      </div>  
    </div>
  </div>
  </center>
</body>
</html>
